@model Category

<form method="Post" >
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4 bg-light">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" readonly/>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control" readonly/>
        </div>
    
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
    </div>
</form>

